{% extends "base.html" %}

{% block app_content %}
{% block styles %}
{{super()}}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet"> 
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form.css') }}">


{% endblock %}

<div class="container">
	<form action="/user_rolesData" method="post">
		<input type="text" name="roleName" placeholder="Role Name">
		<br>
		<input type="text" name="description" placeholder="Description">
		<br>
		<input type="submit" value="Submit" placeholder="Submit">
	</form>
	<div class="drops">
	  <div class="drop drop-1"></div>
	  <div class="drop drop-2"></div>
	  <div class="drop drop-3"></div>
	  <div class="drop drop-4"></div>
	  <div class="drop drop-5"></div>
	</div>
  </div>

	{% if message %}
	<div class="message">
		<center><h4>{{ message }}</h4></center>

	</div>

	{% endif %}
	

	
{% endblock %}


	
